@charset "UTF-8";
/*lideng*/

//公共颜色
$color-black:#333;
$color-green:#8cc31f;
$color-blue: #253954;
$color-linghtBlue:#DADFE8;
$color-gray: #949494;
$color-white:#fff;
$color-paleWhite:#f4f4f4;
$color-linghtWhite:#EFF2F9;
$color-orange:#ffa300;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    font-family:Source Han Sans CN ,PingFangSC-Regular,sans-serif,Helvetica Neue, Helvetica, Arial ;
    line-height: 1.5;
    color: #323232;
}
body {
    font-size: 14px;
}
body *{
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    color: #323232;
    cursor: pointer;
    text-decoration: none;
}

/*去除a点击之后的背景*/
a:active{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*清楚浮动*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

input,button{
    border: none;
    outline: none;
}

/*省略号*/
.ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
/*============ 初始样式 到此结束 ============*/

/*============ 公共部分  开始 ============*/

/*公共头部*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}



.el-button--small{
    font-size: 14px;
}
