@charset "UTF-8";
/*lideng*/
@import "public";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    font-family:Source Han Sans CN ,PingFangSC-Regular,sans-serif,Helvetica Neue, Helvetica, Arial ;
    line-height: 1.5;
    color: #323232;
}
body {
    font-size: 14px;
}
body *{
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    color: #323232;
    cursor: pointer;
    text-decoration: none;
}

/*去除a点击之后的背景*/
a:active{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*清楚浮动*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

input,button{
    border: none;
    outline: none;
}

/*省略号*/
.ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
/*============ 初始样式 到此结束 ============*/

/*============ 公共部分  开始 ============*/

/*公共头部*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}



/*element*/
.el-button--small{
    font-size: 14px;
}
.el-dialog{
    border-radius: 6px;
}

/*首页*/
.index-row{
    padding: 20px 0;
}

@mixin borBom($wid, $color){
    border-bottom: solid $wid $color,;
}
@mixin bor($wid, $color){
    border: solid $wid $color,;
}
@mixin borRadis($wid){
    border-radius: $wid;
}
.index-item{
    @include borBom(1px, $color-linghtWhite);
    @include borRadis(8px);
    background-color: #fff;
    padding: 20px;
    position: relative;
}
.index-item-title{
    @include borBom(1px, $color-linghtWhite);
    padding-bottom:10px;
    font-size: 20px;
    font-weight:500;
}
.index-item-tipUl{
    margin-top: 16px;
    li{
        display: inline-block;
        margin-right: 16px;
        color: $color-gray;
        font-size: 12px;
        img{
            height: 8px;
            margin-right: 2px;
        }
        span{
            width: 12px;
            height: 12px;
            border-radius: 2px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            margin-top: -2px;
        }
    }
}
.vipNum{
    color: $color-gray;
    position: absolute;
    right: 40px;
    bottom: 40px;
    .vipTipG{
        color: $color-vipG;
    }
    .vipTipB{
        color: $color-vipB;
    }
    .vipTipY{
        color: $color-vipY;
    }
}
.addVip-tagG{
    background-color: $color-vipG;
}
.addVip-tagB{
    background-color: $color-vipB;
}
.addVip-tagY{
    background-color: $color-vipY;
}


