@charset "UTF-8";
/*lideng*/
//@import "public";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    font-family: apple-system,  BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',  'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    //font-family: '黑体', Source Han Sans CN,PingFangSC-Regular,sans-serif,Helvetica Neue, Helvetica, Arial;
    line-height: 1.5;
    color: #323232;
}
body {
    font-size: 14px;
}
body *{
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    color: #323232;
    cursor: pointer;
    text-decoration: none;
}

/*去除a点击之后的背景*/
a:active{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*清楚浮动*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

input,button{
    border: none;
    outline: none;
}
input:-webkit-autofill { box-shadow: 0 0 0 1000px white inset !important;}

/*省略号*/
.ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
/*============ 初始样式 到此结束 ============*/

/*============ 公共部分  开始 ============*/

/*公共头部*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*element*/
.el-button--small{
    font-size: 14px;
}
.el-dialog{
    border-radius: 6px;
}

/*环绕*/
.flex-between{
    display: flex;
    justify-content: space-between;
}
/*.layoutR-main {
    .index-row{
        //padding: 0;
    }
}*/

.pubWidth{
    width: calc(100% - 40px);
    margin: 0 auto;
}


