@import "themeColor";
/*layout*/

@mixin scrollBar(){
  & ::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 10px!important;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px!important;
  }
  & ::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius   : 4px!important;
    background-color: #203047!important;
  }
  & ::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    //box-shadow   : inset 0 0 5px #223354;
    //background   : #1c2b3f;
    background   : #2c4362!important;
    border-radius: 4px!important;
  }
}

.layout-box {
  /*layout-left 左侧导航*/
  .layout-left{
    height: 100vh;
    width: 150px;
    position: fixed;
    left: 0;
    top: 0;

    @include scrollBar();

    .layoutLeft-nav {
      width: 100%;
      max-height:100vh;
      height: 100vh;
      background-color: $color-DarkBlue;
      overflow-y: auto;
      .img-logoBox{
        min-height: 40px;
        cursor: pointer;
        margin: 24px 0 10px;
      }
      .img-logo{
        display: block;
        max-width: 80%;
        margin: 14px auto;
        cursor: pointer;
        //min-height: 41px;
      }
      .el-menu--collapse{
        width: 100%;
        border: none;
      }
    }
  }
  /*layout-left 右边主题内容*/
  .layout-right{
    width: calc(100% - 150px);
    margin-left: 150px;
    //height: calc(100vh - 106px);
    .layoutR-header{
      width: 100%;
    }
  }
  .layoutR-contain{
    width: 100%;
    min-height: calc(100vh - 106px);
    box-sizing: border-box;
    overflow-y: auto;
    background-color: $color-linghtWhite;
  }

  /*回到顶部*/
  .el-backtop{
    z-index: 2020;
    right: 60px!important;
    bottom: 100px!important;
    background: none;
    box-shadow: none;
    width: 50px;
    height: 50px;
    span{
      display: block;
      width: 50px;
      height: 50px;
      background: url("~@/assets/images/icon_goTop.png") no-repeat;
      background-size: 100%;
      //box-shadow: 6px 6px 6px rgba(0,0,0, .12);
      &:hover{
        background: url("~@/assets/images/icon_goTop2.png") no-repeat;
        background-size: 100%;
      }
    }
  }


  /*.back-top{
    width: 100%;
    //min-height: calc(100vh - 106px);

    .back-content{
      height: 100%;
      width: 100%;
      background-color: #f2f5f6;
      box-shadow: 0 0 6px rgba(0,0,0, .12);
      text-align: center;
      line-height: 40px;
      color: #1989fa;
    }
  }*/
}

/*侧边 一级导航*/
.Menu-LeftNav-Box{
  //.Menu-LeftNav {
  //  max-height: 100vh !important;
  //  overflow-y: auto !important;
  //  left: 148px !important;
  //  @include scrollBar();
  //  .el-menu--popup {
  //    min-width: auto;
  //    border-radius: 6px;
  //    margin-right: 0;
  //  }
  //}
  .el-submenu {
    text-align: center;
    padding:0 ;
    .el-submenu__title span {
      height: auto;
      visibility: visible;
      overflow: auto;
      width: auto;
      font-size: 15px;
    }
  }
}

/*侧边 二级导航*/
.Menu-LeftNav{
  left:150px!important;
  @include scrollBar();
  .el-menu--popup{
    overflow-y: auto;
    max-height: 100vh;
    min-width: 110px;
    border-radius: 6px;
    margin-right: 0;
    padding:0  0 3px 0;
  }
  .el-menu-item,
  .el-submenu__title {
    height: auto;
    line-height: inherit;
  }
  .el-menu-item-group__title {
    padding: 0;
  }
  .el-menu-item-group > ul li {
    padding: 0 !important;
    a {
      color: inherit;
      display: block;
      padding: 10px 14px !important;
      font-size: 13px;
      position: relative;
      &:hover:after{
        content:'';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        border: solid 1px #005ad4;
      }
    }
  }


}



/*HeaderTop*/
$headerHeight:70px;
.headerTop-user{
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
  .el-submenu__title{
    height: $headerHeight !important;
    line-height: $headerHeight !important;
    border: none!important;
  }
  .el-icon-arrow-down:before{
    content: "\E6DF";
  }
}
@media all and (max-width:1200px ) {
  .headerTop-user .search-form{
    display: none;
  }
}
.header-cityName{
  //position: absolute;
  //left: 20px;
  //top: 22px;
  max-width: 350px;
  background-color: $color-DarkBlue;
  color: #FFF;
  padding: 0 16px;
  border-radius: 22px;
  cursor:pointer;
  height: 30px;
  line-height: 30px;
  margin: 20px 20px 0 0;
  display: block;
  float: left;
  & :hover{
   color: $color-Gray;
  }
  > i{
    margin-right: 4px;
    font-size: 16px;
  }
}
//.goOldUrl{
//
//}
.header-rMain{
  display: flex;
  justify-content: flex-end;
}
.search-form{
  height: $headerHeight;
  line-height: $headerHeight;
  margin-right: 20px;
  input{
    //width:100%;
    width: 338px;
    //max-width: 190px;
    height:32px;
    line-height: 32px;
    background:rgba(239,242,249,1);
    border-radius:24px;
  }
}
.search-content{
  li{
    border-bottom: solid 1px $color-linghtWhite;
    padding:2px 0;
    width: 92%;
    margin: 0 auto;
  }
  li:last-child{
    border-bottom: none;
  }
}
.search-phone{
  width: 70%;
  display: inline-block;
}
.search-name{
  width: 30%;
  display: inline-block;
}

.headerTop-userInfo{
  text-align: right;
    display: flex;

  .el-dropdown-link{
    display: flex;
    height: 70px;
    align-items: center;
    & :hover{
        color: $color-DarkBlue;
        cursor: pointer;
      }
  }
  .userHeader{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 10px;
  }
  .user-name{
    text-align: right;
    margin-right: 10px;
    div:first-child{
      font-size: 16px;
    }
    div:nth-child(2){
      font-size: 12px;
    }
  }
}

/*头部导航下拉*/
.dropdown-HeaderTop{
  background-color: $color-DarkBlue;
  border: 1px solid $color-DarkBlue;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(37, 57, 84, 1);
  box-shadow: 0 2px 12px 0 rgba(37, 57, 84, 1);
  position: fixed;
  right: 0;
  top: 60px!important;
  width: 100px;
  .el-dropdown-menu__item{
    padding: 0;
    .el-button--text{
      padding: 10px 20px;
      width: 100%;
      color: $color-White;
      &:hover{
        color: $color-Gray;
      }
    }
  }
  .el-dropdown-menu__item:not(.is-disabled):hover,
  .el-dropdown-menu__item:focus{
    background: none;
  }
  .popper__arrow{
    border-bottom-color: $color-DarkBlue!important;
  }
  .popper__arrow::after{
    border-bottom-color: $color-DarkBlue!important;
  }
}

/*tagnav*/
$tagNavHei:36px;
.tag-nav{
  /*position: absolute;*/
  top: 0;
  width: 100%;
  height: $tagNavHei;
  line-height: $tagNavHei;
  /*padding: 10px;*/
  background: $color-linghtBlue;
  //border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 2px #f2f2f2;
  box-sizing: border-box;
  .tag-nav-item{
    display: inline-block;
    position: relative;
    height: $tagNavHei;
    padding-left: 10px;
    background-color:  $color-linghtBlue;
    text-decoration: none;
    border-right: solid 1px rgba(37,57,84,.1);
    border-bottom: solid 1px rgba(37,57,84,.1);
    min-width: 76px;
    padding-right: 24px;
    &:hover {
      background-color: $color-linghtWhite;
      color: $color-Black;
      cursor: pointer;
      > i{
        background-color: $color-DarkBlue;
        color: $color-White;
      }
    }
    & > i{
      margin-right: 4px;
      color: $color-DarkBlue;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      border-radius: 50%;
      font-size: 14px;
      position: absolute;
      right: 2px;
      top: 12px;
      &:hover {
        //color: $color-Pink;
      }
    }
  }
  & .cur{
    background-color: $color-linghtWhite;
    color: $color-Black;
    border-bottom: solid 1px $color-linghtWhite;
    //& > i{
    //  background-color: $color-DarkBlue;
    //  color: $color-White;
    //  //
    //  //text-align: center;
    //  //border-radius: 50%;
    //  //#253954
    //}
  }
}


/*侧边导航栏 icon图标*/
.iconNav{
  width: 16px;
  height: 16px;
  margin-right: 6px;
  display: inline-block;
}

@mixin backSize{
  background-size:100%;
  background-repeat: no-repeat;
}
/*前台*/
.iconNavpencil-square-o{
  background: url("~@/assets/icon/iconNavpencil-square-o.png");
  @include backSize();
}
/*会员*/
.iconNavusers{
  //background: url("~@/assets/icon/iconNavVip.png");
  background: url("~@/assets/icon/iconNavcalendar.png");
  @include backSize();
}
/*课程*/
.iconNavcalendar{
  background: url("~@/assets/icon/iconNavcalendar.png");
  @include backSize();
}
/*合同*/
.iconNavshopping-cart{
  background: url("~@/assets/icon/iconNavshopping-cart.png");
  @include backSize();
}
/*员工*/
.iconNavodnoklassniki{
  background: url("~@/assets/icon/iconNavodnoklassniki.png");
  @include backSize();
}
/*统计*/
.iconNavpie-chart{
  background: url("~@/assets/icon/iconNavpie-chart.png");
  @include backSize();
}
/*设置*/
.iconNavgears{
  background: url("~@/assets/icon/iconNavgears.png");
  @include backSize();
}
/*终端*/
.iconNavandroid{
  background: url("~@/assets/icon/iconNavEquipment.png");
  @include backSize();
}
/*项目*/
.iconNavth-large{
  //background: url("~@/assets/icon/iconNavth-large.png");
  background: url("~@/assets/icon/iconNavEquipment.png");
  @include backSize();
}
/*个人*/
.iconNavuser{
  //background: url("~@/assets/icon/iconNavPerson.png");
  @include backSize();
}
/*消费*/
.iconNavcredit-card{
  background: url("~@/assets/icon/iconNavPerson.png");
  //background: url("~@/assets/icon/iconNavcredit-card.png");
  @include backSize();
}
/*商品 和 合同冲突*/
.iconNavshopping-cart{
  background: url("~@/assets/icon/iconNavshopping-cart.png");
  @include backSize();
}
/*收款*/
.iconNavdesktop{
  //background: url("~@/assets/icon/iconNavdesktop.png");
  background: url("~@/assets/icon/iconNavcommenting-o.png");
  @include backSize();
}
/*服务*/
.iconNavcommenting-o{
  background: url("~@/assets/icon/iconNavcommenting-o.png");
  @include backSize();
}
/*营销*/
.iconNavbar-chart{
  background: url("~@/assets/icon/iconNavbar-chart.png");
  @include backSize();
}
/*识别 和个人冲突*/
.iconNavuser{
  background: url("~@/assets/icon/iconNavuser.png");
  @include backSize();
}
/*场馆*/
.iconNavuniversity{
  //background: url("~@/assets/icon/iconNavuniversity.png");
  background: url("~@/assets/icon/iconNavuser.png");
  @include backSize();
}



/*ScrollBar tagnav滚动*/
.scroll-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.scroll-cont{
  position: absolute;
  transition: all .3s ease;
}
