@import "global";

.nav-main{
    display: flex;
}
.navBox{
    min-height: 100vh;
    background-color:$color-blue ;
    width: 140px;
}
.header-top{
    background-color: $color-blue;
    height: 80px;
    width: 100%;
}
.navAsideTop{
    //position: absolute;
    > li{
        //color:$color-white;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    .navSub{
        width: 200px;
        background-color:$color-green ;
        border-radius: 4px;
        position: absolute;
        left: 144px;
        top: 0;
        z-index: 1024;
        > li{
            width: 100%;
            text-align: center;
            padding: 10px;
        }
        > li:hover{
            a{
                cursor: pointer;
                color: $color-orange!important;
            }
        }
    }
    .navActive{
        color: $color-orange!important;
    }
    .router-link-exact-active,
    .router-link-active{
        color: $color-orange!important;
    }
}
.right-main{
    padding: 10px;
}

