//公共颜色
$color-Black:#333;
$color-Green:#8cc31f;
$color-DarkBlue: #253954;
$color-White:#fff;
$color-Gray: #949494;

$color-linghtBlue:#DADFE8;
$color-paleWhite:#f4f4f4;
$color-linghtWhite:#EFF2F9;  /*主打灰*/
$color-GrayE5:#EFEEF5;


$color-Red: red;

$color-Pink:#ff8a7e;
$color-MediumBlue:#005ad4;
$color-MediumBlue2:#00a0e9;
$color-Violet:#8763ce;
$color-GreenBlue:#1eaaa1;
$color-LigntBlue:#4ccbeb;
$color-LigntBlue2:#5b5ec7;
$color-Yellow:#ffbe00;

//$color-Violet:#B6A2DE;
/*
$color1:#ff8a7e;
$color1:#005ad4;
$color1:#00a0e9;
$color1:#8763ce;
$color1:#1eaaa1;
$color1:#4ccbeb;
$color1:#5b5ec7;
$color1:#ffbe00;
*/

