//公共颜色
$color-Black:#333;
$color-Green:#8cc31f;
$color-DarkBlue: #253954;
$color-White:#fff;
$color-Gray: #949494;

$color-linghtBlue:#DADFE8;
$color-paleWhite:#f4f4f4;
$color-linghtWhite:#EFF2F9;
$color-GrayE5:#EFEEF5;


$color-LigntBlue:#4CCBEB;
$color-MediumBlue:#005AD4;
$color-Pink:#FF8A7E;
$color-Yellow:#FFBE00;
$color-GreenBlue:#1EAAA1;
$color-Violet:#B6A2DE;

@mixin fontColor($color){
  color:$color;
}
.colorRed{
  @include fontColor($color-Pink);
}
.colorBlueL{
  @include fontColor($color-LigntBlue);
}
.colorYellow{
  @include fontColor($color-Yellow);
}
.colorBlue{
  @include fontColor($color-MediumBlue);
}
.colorGreen{
  @include fontColor($color-GreenBlue);
}
.colorViolet{
  @include fontColor($color-Violet);
}


