@import "themeColor";

/*员工列表*/
.staffList-box{
  background-color: $color-White;
  border-radius: 20px;
  padding: 20px;
  .pub-table{
    min-height: 422px;
  }
}
.status-break{
  color: $color-Pink;
}

/*添加员工 表单*/
.inpStaffTel{
  width: 360px;
}
.addForm-box{
  .el-form-item__error{
    top: 10px;
    left: 370px;
  }
  .el-form-item{
    margin-bottom: 10px;
  }
  .inpStaffTime{
    width: 140px;
    margin-right: 10px;
  }
  .el-input--suffix .el-input__inner{
    padding-right: 0;
  }
  .img-header{
    background-color: #fbfdff;
    border: 1px solid #c0ccda;
    border-radius: 6px;
    width: 148px;
    height: 148px;
    line-height: 146px;
    margin-right: 20px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    img{
      display: block;
      width: 100%;
      max-height: 100%;
    }
    .imgHeader-big{
      position: absolute;
      padding: 20px;
      left: 20%;
      top: 40%;
      z-index: 111;
    }
  }
  .btn-header{
    display: inline-block;
  }
}


/*考勤*/
.staffSign-table{
  width: 100%;
  margin: 20px 0 10px;
  border-collapse:collapse;
  //border: solid 1px #EBEEF5;
  min-height: 500px;
  border-radius: 15px;
  tbody{
    tr:first-of-type{
      td:not(:first-child){
        text-align: left;
        padding-left: 2%;
      }
      .iconfont{
        margin-right: 2px;
      }
      .icon-daka1{
        font-size: 16px;
      }
      .el-icon-warning{
        margin-right: 4px;
      }
    }
  }
  td{
    border: solid 1px #EBEEF5;
    white-space: nowrap;
    text-align: center;
    padding: 6px 0;
  }
  .thead th{
    padding: 9px 4px;
    background-color: $color-thBG;
    white-space: nowrap;
    font-weight: 500;
    &:not(:last-child){
      border-right: solid 1px $color-White;
    }
    &:first-child{
      border-top-left-radius: 15px;
    }
    &:last-child{
      border-top-right-radius: 15px;
    }
  }
  .sign-up{
    color: $color-LigntBlue;
    margin-bottom: 4px;
  }
  .sign-rest{
    color:#A4C3EF ;
    margin-bottom: 4px;
  }
  .sign-warn{
    color: $color-Pink;
  }
  .clock-in{
    color: $color-Gray;
    margin-bottom: 4px;
  }
  .clock-out{
    color:$color-MediumBlue
  }
}
.page-assist{
  margin-bottom: 20px;
}

/*班次*/
.staffClass-table{
  width: 100%;
  margin: 20px 0 10px;
  //border-collapse:collapse;
  //border: solid 1px #EBEEF5;
  border-collapse: separate;
  border-spacing: 0;
  //min-height: 500px;
  border-radius: 15px;
  thead{
    background-color: $color-thBG;
  }
  th{
    border-top: solid 1px #EBEEF5;
    border-left: solid 1px #EBEEF5;
    border-bottom: solid 1px #EBEEF5;
    white-space: nowrap;
    text-align: center;
    padding: 10px 0;
    font-weight: 300;
    &:first-child{
      border-top-left-radius: 15px;
    }
    &:last-child{
      border-top-right-radius: 15px;
      border-right: solid 1px #EBEEF5;
    }
  }
  td{
    border-bottom: solid 1px #EBEEF5;
    border-left: solid 1px #EBEEF5;
    white-space: nowrap;
    text-align: center;
    padding: 8px 0;
    &:last-child{
      border-right: solid 1px #EBEEF5;
    }
  }
  tr:last-child{
    td:first-child{
      border-bottom-left-radius: 15px;
    }
    td:last-child{
      border-bottom-right-radius: 15px;
    }
  }
}
.class-time{
  .el-date-editor{
    width: 40%;
    &:first-child{
      margin-right: 8%;
    }
  }
}

/*员工工资  表格 */
.staffTable-reword{
  td:nth-child(5),
  td:nth-child(6){
    .cell{
      padding: 0;
    }
  }
}
.staffList-table{
  td:nth-child(9){
    .cell{
      padding: 0;
    }
  }
}
.royalty-td{
  padding:0 10px;
  &:not(:last-of-type){
    padding-bottom: 6px;
    border-bottom: solid 1px #EBEEF5;
  }
  &:last-of-type{
    padding-top: 6px;
  }
}