@import "public";

/*员工工资切换*/
#staffPay-tabBox{
  .el-tab-pane{
    background-color: $color-White;
  }

  .el-tabs__header{
    .is-active {
      background-color: $color-White;
      color: $color-Black;
      &:hover {
        color: $color-MediumBlue;
      }
      &:before {
        background: $color-White;
      }
      &:after {
        background: $color-GrayE5;
      }
    }
  }

  .pt-screen{
    padding: 0;
  }
  .pt-table{
    width: 100% !important;
  }
  .ptTable-assist{
    padding-left: 0;
  }
}



/*员工列表*/
.staffList-box{
  background-color: $color-White;
  border-radius: 20px;
  padding-bottom: 20px;
}

/*添加员工 表单*/
.addForm-box{
  width: 94%;
  margin: 20px auto;
  background-color: $color-White;
  padding: 20px;
  border-radius: 20px;
}
.inpStaffTel{
  width: 360px;
}
.inpStaffName{
  width: 180px;
}