@import "public";

.total-vipBox {
  .index-item-tipUl li img {
    height: 12px;
  }
  .vipT-addCard {
    height: auto !important;
  }
}

/* 会员总览 选项卡*/
$tabMarR: 20px;
$tabHei: 46px;


/*  ~~这是分割线~~  第一个tab tabItem1会员总览   ==*/
#pane-VipTotal,
#pane-VipPT{
  .comein-main {
    margin-bottom: 35px;
    padding-bottom: 40px;
  }
}

/* A11  会员数量*/
.echart-VipPT {
  margin: 0 0 10px 40px;
}

.vip-item-num {
  position: relative;
  min-height: 220px;

  .echart-ptFpllow {
    margin: 10px 0 0 10px;
    //height: 170px;
  }

  .vipNum {
    right: 170px;
  }
}

.vip-item-num2 {
  padding-left: 50px;
}

@media all and (max-width: 1560px) {
  .vip-item-num {
    .vipNum {
      right: 40px;
    }
  }
}

/*  A12  私教会员 */
.vip-pt-num {
  padding: 20px;
  background-color: $color-MediumBlue;
  height: 184px;
  box-shadow: 0px 2px 11px 0px rgba(2, 40, 91, 0.9);
  border-radius: 15px;
  width: 86%;
  margin: 40px auto 0;

  .num {
    font-size: 68px;
    font-weight: 500;
    color: $color-White;
  }


}


/* =+= 第二个tab tabItem2 私教 == */
#pane-VipPT {
  .index-item .el-input__icon {
    height: auto;
  }
}

.icon-PTtotal {
  height: 14px;
}

/*B21 销售额 查询*/

/*B22 销售额表格*/
.pt-table{
  width: calc(100% - 40px) !important;
  margin: 20px auto;
}

.ptTable-assist {
  padding:0 20px;
  .pt-screen{
    margin: 20px 0 0;
  }
}

.vipNav-btnBox {
  margin-top: 6px;
}

.btn-ptMore {
  width: 70px;
  height: 34px;
  line-height: 34px;
  background: $color-GrayE5;
  border: 1px solid $color-GrayE5;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(151, 151, 151, 1);
  padding: 0;
  margin-left: 20px;
}


/* ~~这是分割线~~ 第三个tab  tabItem3 会籍 == */
#pane-VipMembership {
  .el-date-editor .el-range-separator {
    padding: 0;
  }
  .index-item .el-input__icon {
    height: auto;
  }
}


/*表格详情 查看更多*/
.ptTable-detail {
  padding: 20px;
  background-color: #efeef5;
  min-height: calc(100vh - 240px);
  border-radius: 20px;
  margin-top: 2px;

  .el-page-header {
    margin-bottom: 20px;
  }

  .pt-sales {
    padding: 20px;
  }
}
.ve-pie{
  > div:first-child{
    width: 220px !important;
    height: 220px !important;
  }
}
.ve-line{
  > div:first-child{
    height: 300px !important;
  }
}
