@import "public";

.total-vipBox {
  .index-item-tipUl li img {
    height: 12px;
  }
  .vipT-addCard {
    height: auto !important;
  }
}

/* 会员总览 选项卡*/
$tabMarR: 20px;
$tabHei: 46px;


/*  ~~这是分割线~~  第一个tab tabItem1会员总览   ==*/
#pane-VipTotal,
#pane-VipPT{
  .comein-main {
    margin-bottom: 35px;
    padding-bottom: 40px;
  }
}

/* A11  会员数量*/
.echart-VipPT {
  margin: 0 0 10px 40px;
}


.revenue-item{
  box-shadow:-1px 2px 12px 0px rgba(219,219,219,0.79);
  border-radius:20px;
}
.revenueRatio-tip{
  .vipNum{
    //right: 100px;
    position: static;
    margin: 70px 20px 0 0;
    color: #949494;
    font-size: 15px;
    padding-left: 10%;
    li{
      margin-top: 4px;
      .iconfont{
        margin-right: 4px;
      }
      span {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .revenue-tip2{
    font-size: 15px!important;
    margin-top: 2px;
  }
}
.revenue-tip{
  text-align: right;
  margin-left: 15px;
  float: right;
  span{
    font-weight: 500;
    font-size: 16px;
  }
}

.vip-item-num {
  position: relative;
  min-height: 220px;

  .echart-ptFpllow {
    margin: 10px 0 0 10px;
    //height: 170px;
  }

  .vipNum {
    right: 170px;
  }
}

.vip-item-num2 {
  padding-left: 50px;
}



/*  A12  私教会员 */
.vip-pt-num {
  padding: 20px;
  background-color: $color-MediumBlue;
  height: 184px;
  box-shadow: 0px 2px 11px 0px rgba(2, 40, 91, 0.9);
  border-radius: 15px;
  width: 86%;
  margin: 40px auto 0;

  .num {
    font-size: 68px;
    font-weight: 500;
    color: $color-White;
  }

}


/* =+= 第二个tab tabItem2 私教 == */
#pane-VipPT {
  .index-item .el-input__icon {
    height: auto;
  }
}

.icon-PTtotal {
  height: 14px;
}
.ptContract-status1{
  color: $color-GreenBlue;
}
.ptContract-status2{
  color: $color-MediumBlue;
}
.ptContract-status4{
  color: $color-Pink;
}
.ptContract-status5{
  color:$color-Red;
}
.ptContract-diff{
  color: $color-Yellow;
}
/*B22 销售额表格*/
.pt-table{
  width: calc(100% - 40px) !important;
  margin: 20px auto;
}

.ptTable-assist {
  padding:0 20px;
  .pt-screen{
    margin: 20px 0 0;
  }
}

.vipNav-rBox {
  margin-top: 6px;
  display: flex;
}

.btn-ptMore {
  width: 70px;
  height: 32px;
  line-height: 32px;
  background: $color-GrayE5;
  border: 1px solid $color-GrayE5;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(151, 151, 151, 1);
  padding: 0;
  margin-left: 20px;
}


/* ~~这是分割线~~ 第三个tab  tabItem3 会籍 == */
#pane-VipMembership {
  .el-date-editor .el-range-separator {
    padding: 0;
  }
  .index-item .el-input__icon {
    height: auto;
  }
}

.pt-sales,{
  .pub-table{
    min-height: 222px;
  }
}
.PTdetail-main{
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #eff2f9;
  width: 100%;
  min-height: calc(100vh - 166px);
  .detail-box{
    background-color: #fff;
    min-height: 60vh;
    width: calc(100% - 40px);
    margin: 20px auto;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  .pub-table{
    min-height: 222px;
  }
}

/*表格详情 查看更多*/
.ptTable-detail {
  padding: 20px;
  background-color: #efeef5;
  min-height: calc(100vh - 240px);
  border-radius: 20px;
  margin-top: 2px;

  .el-page-header {
    margin-bottom: 20px;
  }

  .pt-sales {
    padding: 20px;
  }
}
.ve-pie{
  > div:first-child{
    width: 220px !important;
    height: 220px !important;
  }
}

.reveue-listPie{
  .ve-bar{
    > div:first-child{
      height: 240px !important;
    }
  }
  .ve-histogram{
    > div:first-child{
      height: 300px !important;
    }
  }
}

.reveue-listPie{
  margin-top: 10px;
  .ve-pie{
    > div:first-child{
      width: auto !important;
      height: auto !important;
    }
  }
}
.ve-line{
  > div:first-child{
    height: 300px !important;
  }
}
.total-row{
  .index-item{
    min-height: 280px;
  }

}

.totalVip{
  .vipNum{
    margin: 20px 0 0 20%;
  }
}




/*营收总览*/
.revenue-pie{
  min-height: 326px;
  .index-item-tipUl{
    margin-bottom: 20px;
  }
  i {
    font-weight: bold;
  }
}
.chartRevenue-bar{
  height: 354px;
  .ve-bar{
    margin-top: 10px;
    & > div:first-child{
      height: 340px !important;
    }
  }
}

.chartRevenue-histpgram{
  .ve-histogram{
    & > div:first-child{
      height: 240px !important;
    }
  }
}

.revenue-item{
  .index-item-tipUl li{
    margin-right: 20px;
    span{
      margin-right: 4px;
    }
  }
}
.revenue-ptLesson{
  box-shadow: -1px 2px 12px 0px rgba(219,219,219,.79);
}


/*营收总览*/
.revenue-box {
  margin-top: 30px;
  padding: 0 10px;
  .index-item{
    min-height: 140px;
    box-shadow:-1px 2px 12px 0px rgba(219,219,219,0.79);
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .index-item-title{
    padding: 0;
  }

  .reItem-box{
    .el-col{
      width: 20%;
    }
  }

  .reItem-box_0{
    .revenue-item{
      color: #fff;
      background-color: #ff8a7e;
    }
  }
  .reItem-box_1{
    .revenue-item{
      color: #fff;
      background-color:#ffbe00;
    }
  }
  .reItem-box_2{
    .revenue-item{
      color: #fff;
      background-color:#00a0e9;
    }
  }
  .reItem-box_3{
    .revenue-item{
      color: #fff;
      background-color: #005ad4;
    }
  }
  .revenue-listUl{
    li{
      display: inline-block;
      /*border: solid 1px red;*/
      width: 25%;
      /*height: 200px;*/
    }
  }
  .revenue-list{
    margin-top: 16px;
    padding: 10px 0;
    /*li{*/
    /*    cursor: pointer;*/
    /*    margin-top: 6px;*/
    /*    font-size: 15px;*/
    /*    i{*/
    /*        color: #005AD4;*/
    /*        font-weight:bold ;*/
    /*        margin-right: 4px;*/
    /*    }*/
    /*}*/
    text-align: center;
    .revenLiest-title{
      border-bottom: solid 1px #fff;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 16px;
    }
    .revenList-icon{

      i{
        font-size: 26px;
      }
    }
  }
}

.RevenSel-checkbox{

  /*selecet 模拟 checkbox*/
   .el-select-dropdown__item.selected::after{
    content: "";
  }
  .el-select-dropdown__item.selected .check{
    background-color:#005ad4;
    border-color:#005ad4;
  }
  .el-select-dropdown__item.selected {
    span{
      font-weight: 400;
    }
  }

  .el-select-dropdown__item.selected  .check:after{
    transform: rotate(45deg) scaleY(1);
  }
  .el-select-dropdown__item .check::after{
    box-sizing: content-box;
    content: "";
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    transition: transform .15s ease-in .05s;
    transform-origin: center;
  }

  .el-select-dropdown__item .check{
    display: inline-block;
    position: relative;
    top:2px;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
  }

}

.revenue-listTop{
  box-shadow: -1px 2px 12px 0px rgba(219,219,219,.79);
  border-radius: 20px;
  padding: 20px;
  .pt-screen{
    margin-bottom: 20px;
  }
}
