@import "public";

.total-vipBox {
  .index-item-tipUl li img {
    height: 12px;
  }
  .vipT-addCard {
    height: auto !important;
  }
}

/* 会员总览 选项卡*/
$tabMarR: 20px;
$tabHei: 46px;


/*  ~~这是分割线~~  第一个tab tabItem1会员总览   ==*/
#pane-VipTotal,
#pane-VipPT{
  .comein-main {
    margin-bottom: 35px;
    padding-bottom: 40px;
  }
}

/* A11  会员数量*/
.echart-VipPT {
  margin: 0 0 10px 40px;
}

.vip-item-num {
  position: relative;
  min-height: 220px;

  .echart-ptFpllow {
    margin: 10px 0 0 10px;
    //height: 170px;
  }

  .vipNum {
    right: 170px;
  }
}

.vip-item-num2 {
  padding-left: 50px;
}

@media all and (max-width: 1560px) {
  .vip-item-num {
    .vipNum {
      right: 40px;
    }
  }
}

/*  A12  私教会员 */
.vip-pt-num {
  padding: 20px;
  background-color: $color-MediumBlue;
  height: 184px;
  box-shadow: 0px 2px 11px 0px rgba(2, 40, 91, 0.9);
  border-radius: 15px;
  width: 86%;
  margin: 40px auto 0;

  .num {
    font-size: 68px;
    font-weight: 500;
    color: $color-White;
  }


}


/* =+= 第二个tab tabItem2 私教 == */
#pane-VipPT {
  .index-item .el-input__icon {
    height: auto;
  }
}

.icon-PTtotal {
  height: 14px;
}


/*B22 销售额表格*/
.pt-table{
  width: calc(100% - 40px) !important;
  margin: 20px auto;
}

.ptTable-assist {
  padding:0 20px;
  .pt-screen{
    margin: 20px 0 0;
  }
}

.vipNav-rBox {
  margin-top: 6px;
  display: flex;
}

.btn-ptMore {
  width: 70px;
  height: 32px;
  line-height: 32px;
  background: $color-GrayE5;
  border: 1px solid $color-GrayE5;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(151, 151, 151, 1);
  padding: 0;
  margin-left: 20px;
}


/* ~~这是分割线~~ 第三个tab  tabItem3 会籍 == */
#pane-VipMembership {
  .el-date-editor .el-range-separator {
    padding: 0;
  }
  .index-item .el-input__icon {
    height: auto;
  }
}

.pt-sales,{
  .pub-table{
    min-height: 222px;
  }
}
.PTdetail-main{
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #eff2f9;
  width: 100%;
  min-height: calc(100vh - 166px);
  .detail-box{
    background-color: #fff;
    min-height: 60vh;
    width: calc(100% - 40px);
    margin: 20px auto;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  .pub-table{
    min-height: 222px;
  }
}

/*表格详情 查看更多*/
.ptTable-detail {
  padding: 20px;
  background-color: #efeef5;
  min-height: calc(100vh - 240px);
  border-radius: 20px;
  margin-top: 2px;

  .el-page-header {
    margin-bottom: 20px;
  }

  .pt-sales {
    padding: 20px;
  }
}
.ve-pie{
  > div:first-child{
    width: 220px !important;
    height: 220px !important;
  }
}

.reveue-listPie{
  .ve-bar{
    > div:first-child{
      height: 240px !important;
    }
  }
  .ve-histogram{
    > div:first-child{
      height: 300px !important;
    }
  }
}

.reveue-listPie{
  margin-top: 10px;
  .ve-pie{
    > div:first-child{
      width: auto !important;
      height: auto !important;
    }
  }
}
.ve-line{
  > div:first-child{
    height: 300px !important;
  }
}
.total-row{
  .index-item{
    min-height: 280px;
  }

}

.totalVip{
  .vipNum{
    margin: 20px 0 0 20%;
  }
}
.vipTotal{
  .vipTotal-topUl{
    li{
      margin-right: 10px;
    }
  }
  .vipTotal-BomUl{
    margin: 20px 58px 16px 0;
    li{
      margin-top: 4px;
    }
  }
}
.vipT-BomUl{
  padding-top: 20px;
  li{
    margin-top: 4px;
  }
}




/*营收总览*/
.revenue-pie{
  min-height: 326px;
  .index-item-tipUl{
    margin-bottom: 20px;
  }
  i {
    font-weight: bold;
  }
}
.chartRevenue-bar{
  height: 354px;
  .ve-bar{
    margin-top: 10px;
    & > div:first-child{
      height: 340px !important;
    }
  }
}

.chartRevenue-histpgram{
  .ve-histogram{
    & > div:first-child{
      height: 240px !important;
    }
  }
}

.revenue-item{
  .index-item-tipUl li{
    margin-right: 20px;
    span{
      margin-right: 4px;
    }
  }
}
.revenue-ptLesson{
  box-shadow: -1px 2px 12px 0px rgba(219,219,219,.79);
}